body{
background-color:#eeeeee;
font-family: Verdana, sans-serif;
text-align:center;
line-height:30px;
border:15px solid white;
border-radius:5px;
}
h1{
font-size:35px;
}
img{
height:40%;
width:100%;
max-width:1000px;
max-height:900px;
}
figure{
padding:10px;
background-color:white;
margin:30px;
}
figcaption{
padding-top:7px;
}
span{
font-weight:bold;
}
.centerli{
text-align:center;
padding-top:10px;
background-color:#e0e0e0
}
ul,ol{
list-style:disc;
width:70%;
display:inline-block;
}
li{
text-align:left;
}
